@media(max-width: 1060px){
  .carousel{
    .prev{
      left: -6px;
    }
    .next {
      right: -6px;
    }
    .tns-item{
      img{
        padding: 0 50px;
        width: 100%;
      }
    }
  }
}

@media(max-width: 991px) {
  .benefits {
    &__item {
      width: 30%;
    }
  }
  .consultation{
    .title{
      &_left{
        font-size: 32px;
      }
    }
  }
}

@media(max-width: 767px) {
  .header {
    &__logo {
      img{
        width: 200px;
      }
    }

    &__official {
      span {
        font-size: 15px;
      }
    }

    &__phone {
      font-size: 15px;
    }
  }
  .benefits {
    &__subtitle{
      text-align: center;
    }
  }
  .consultation{
    padding: 33px 0 29px 0;
    .title{
      &_left{
        text-align: center;
        font-size: 24px;
      }
    }
    &__descr{
      text-align: center;
      font-size: 18px;
    }
  }
  .feed-form{
    width: 100%;
    align-items: center;
    input{
      width: 300px;
    }
  }
  .carousel{
    padding: 5px 0 40px 0;
  }
  .catalog{
    &__tabs{
      margin-top: 20px;
      flex-direction: column;
    }
    &__tab{
      margin: 5px 0;
      width: 300px;
    }
  }
  .feed{
    &__item{
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
    &__text, &__subtitle, &__count, &__descr{
      text-align: center;
      padding: 0;
    }
  }
  .footer{
    &__map{
      padding-top: 270px;
    }
    &__info{
      position: none;
      width: 100%;
    }
  }
}

@media(max-width: 575px) {
  .button {
    align-items: center;
    width: 220px;
    height: 50px;
    &_main{
      margin-top: 20px;
      width: 300px;
      height: 50px;
      font-size: 16px;
    }
    &_mini{
      width: 131px;
      height: 40px;
    }
  }  
  .promo {
    padding: 10px 0 30px 0;
    .header {
      flex-direction: column;
      &__logo {
        img{
          padding: 0 20px;
          width: 100%;
        }
      }
      &__official {
        margin-top: 25px;
        font-size: 20px;
        span {
          font-size: 25px;
        }
      }
      &__phone {
        font-size: 25px;
      }
      &__contacts {
        margin-top: 25px;
      }
    }
    &__wrapper {
      margin-top: 30px;
      align-items: center;
    }
    &__header {
      font-size: 25px;
      line-height: 25px;
    }
    &__subheader {
      margin-top: 6px;
      font-size: 18px;
      line-height: 18px;
    }
    &__icons {
      margin-top: 20px;
      width: 100%;
    }
  }
  .benefits {
    padding: 35px 0 23px 0;
    .title{
      font-size: 36px;
    }
    &__wrapper{
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
    }
    &__item{
      margin-top: 25px;
      width: 100%;
    }
    &__subtitle{
      margin-top: 10px;
      font-size: 25px;
    }
    &__descr{
      margin-top: 5px;
    }
  }
  .consultation{
    .title{
      &_left{
        font-size: 20px;
      }
    }
    &__descr{
      font-size: 16px;
    }
    .feed-form{
      margin-top: 15px;
    }
  }
  .carousel{
    .prev, .next {
      display: none;
    }
    .tns-item{
      img{
        padding: 0;
      }
    }
  }
  .catalog{
    &__tab{
      width: 250px;
    }
  }
  .footer{
    height: 200px;
    &__map{
      display: none;
    }
    &__info{
      height: 200px;
      padding: 20px 0;
    }
  }
}